@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Edu+SA+Beginner:wght@500&family=Grenze+Gotisch:wght@200&family=Lumanosimo&family=Open+Sans&family=Raleway:wght@100;200&family=Roboto+Condensed&family=Rubik+Iso&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Edu+SA+Beginner:wght@500&family=Grenze+Gotisch:wght@200&family=Lumanosimo&family=Open+Sans&family=Raleway:wght@100;200&family=Roboto+Condensed&family=Rubik+Iso&family=Ubuntu:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.main-container::before {
  background: url(imagess/bgg2.avif) no-repeat center center/cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  min-height: 110%;
  z-index: -1;
  opacity: 1;
}

.headingrow{
  max-height: 30%;
}


.heading,
.headingcol {
  display: flex;
  justify-content: center;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Architects Daughter', cursive;
  color : black;
  font-weight: 500;
  
}

.heading h1 {
  font-size: 5.5rem;
  font-weight: bolder;
  color: black;
  opacity: 0.8;
  /* font-family: 'Edu SA Beginner', cursive; */
  text-shadow: 3px 2px 5px rgba(0,0,0,0.5);
  font-family:'Courier New', Courier, monospace ;
}


.imgrow{
    padding: 0rem 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle-col{
    width: 90%;
    min-height: 70vh;
    height: auto;  
    position: relative;
    padding: 0;
  }







  


.main_fluid{
    width: 100%;
    height: 100vh;
}
.main_row{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(111, 172, 174); */
  background-color: rgb(246, 229, 229);
  /* mix-blend-mode: multiply; */
  box-shadow: inset -2px -2px 3px rgba(0,0,0,0.8);

}
.main_col{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* background-color: rgb(24, 97, 97); */
    background-color:rgb(79, 100, 85) ;
    opacity: 2;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.8);
}
.emain_container{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(226, 217, 217); */
    box-shadow: -2px -3px 4px rgba(0,0,0,0.8);
    padding: 2rem 2rem;
    position: relative;
}
.emain_container .ecenter_div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #436589; */
    overflow: hidden;
    position: relative;
}
.emain_container::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(e1.avif) no-repeat center center/cover;
   opacity: 0.8;
   z-index: 0;
}

.emain_container .ecenter_div .row{
    min-width: 100%;
    min-height: 100%;
    transform: translateX(50%); 
    /* transform: translateX(-50%);  */
    /* animation: slide 15s linear infinite; */
}




@keyframes slide {
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-50%);
    }
    
}

.emain_container .row .rowcol{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    min-height: 25%;
}

.rowcol .row_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowcol .card{
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 90%;
    /* background-color: #e3c2c2; */
    /* mix-blend-mode: multiply; */
    transition: 0.5s;
    border: none;
    outline: none;
    opacity: 2;
}

.face{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.face1{
    text-align: center;
    padding: 2rem;
    color: #073668;
    opacity: 2;
    transition: 0.5s;
    padding: 0.5rem 0.6rem;
    /* z-index: 99; */
}

.face .face_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.face .face_container h1{
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Grenze Gotisch', cursive!important;
    margin: 0;
}

.face1 p{
    margin: 0;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 1.2rem;
    text-align: left;
}

.face1 a{
    text-decoration: none;
    color: #073668;
    border: 2px solid #073668;
    border-radius: 1rem;
    padding: 0.2rem 0.3rem;
    text-transform: capitalize;
    font-weight: bold;
    transition: 0.3s;
}

.face2{
    /* background-color: #d2dce6; */
    /* background-color: rgb(106, 196, 199); */
    mix-blend-mode: multiply;
    color: white;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
   }

.face2 .face2_container{
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem 1rem;
}

.face2 .img{
    width: 80%;
    height: 95%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face2 .img img{
    width: 100%;
    height: 90%;
    border-radius: 40%;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.8);
}

.card:hover .face2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 37%;
    background-color: #e4d0d0;
    border: 1px solid #000000;
}

.card:hover .face_container{
    opacity: 1;
}

.face1 a:hover{
    background-color: #073668;
    color: white;
}


@media (max-width:750px){
   .rowcol{
    max-width: 16vw;
}

.face2 .img img {
    height: 60%;
}
}